<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JUGADORES</title>
    <link rel="stylesheet" href="/Jugadores-AndresOspina/src/styles.css">
</head>

<body>
    <h4 class="title">Infografía Jugadores</h4>
    <div class="container">
        <div class="card">
            <img src="../../assets/img/ronaldo.jpg" alt="">

            <h4><a class="nav-link active" [routerLink]="['/Ronaldo']">Cristiano Ronaldo</a></h4>
        </div>
        <div class="card">
            <img src="../../assets/img/james.jpg" alt="">
            <h4><a class="nav-link active" [routerLink]="['/James']">James</a></h4>
        </div>
        <div class="card">
            <img src="../../assets/img/messi.jpg" alt="">
            <h4><a class="nav-link active" [routerLink]="['/Messi']">Messi</a></h4>
        </div>
    </div>
</body>

</html>